nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: fixed;
}
nav p {
  font-size: var(--fs-lg);
  font-family: var(--title-font);
  font-weight: var(--font-bold);
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem 2rem;
  list-style-type: none;
  /* From https://css.glass */
  background: rgba(224, 224, 224, 0.5);
  border-radius: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.9px);
  -webkit-backdrop-filter: blur(7.9px);
  border: 1px solid rgba(224, 224, 224, 0.7);
}
nav ul li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
